#wrap{
    background:#ddd;
}

.g-hover-card {
    position: relative;
    text-align: center;
    background-color: #fff;
}

.g-hover-card img {
}

.g-hover-card .user-avatar {
    position: relative;
    top: -40px;
    margin-bottom: -40px;
}

.g-hover-card .user-avatar img {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.g-hover-card .info {
    padding: 4px 8px 10px;
}

.g-hover-card  .info.title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.g-hover-card  .info.descriptions {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.g-hover-card .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.g-hover-card{
    padding-top: 0;
    overflow: hidden;
}
body { padding-top: 50px; }

.house-remove-btn {
    background-color: #808080 !important;
    border-color: #808080 !important;
}
.listing-price {
    padding: 0px 2px 0px 2px;
    color: #FF7F50;
    font-size: 20px;
}
*{
    font-family: 'Open Sans', sans-serif;
}

.well-small {
    margin-top:-20px;
    background-color:#007FBD;
    border:2px solid #0077B2;
    text-align:center;
    cursor:pointer;
    font-size: 15px;
    padding: 25px;
    border-radius: 0px !important;
}

.home-page {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #F1F1F1;
}



.bg_blur
{
    background-image:url('/img/cover_pic.png');
    height: 300px;
    background-size: cover;
}

.follow_btn {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid #007FBE;
}

.follow_btn:hover {
    text-decoration: none;
    position: absolute;
    left: 35%;
    top: 42.5%;
    width: 35%;
    height: 15%;
    background-color: #007FBE;
    padding: 10px;
    padding-top: 6px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    border: 4px solid rgba(255, 255, 255, 0.8);
}

.header{
    color : #808080;
    margin-left:10%;
    margin-top:70px;
}

.picture{
    height:150px;
    width:150px;
    position:absolute;
    top: 75px;
    left:-75px;
}

.picture_mob{
    position: absolute;
    width: 35%;
    left: 35%;
    bottom: 70%;
}

.btn-style{
    color: #fff;
    background-color: #007FBE;
    border-color: #adadad;
    width: 33.3%;
}

.btn-style:hover {
    color: #333;
    background-color: #3D5DE0;
    border-color: #adadad;
    width: 33.3%;

}


@media (max-width: 767px) {
    .header{
        text-align : center;
    }



    .nav{
        margin-top : 30px;
    }
}
/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/

#login { display: none; }
.login,
.logout {
    position: absolute;
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;
    font-weight: bold;
    font-size: 12px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 60px; }
.media-body { position: relative; padding: 0px 10px 10px 0px; width: 45%}
.media-date {
    position: absolute;
    right: 25px;
    top: 30px;
    font-size: 8px !important;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before {
    content: '.';
    margin-left: -2px;
    margin-right: 2px;
}

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.custom-input-file {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    background: #eee url('https://s3.amazonaws.com/uifaces/faces/twitter/walterstephanie/128.jpg');
    background-size: 120px;
    border-radius: 120px;
}
input[type="file"]{
    z-index: 999;
    line-height: 0;
    font-size: 0;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity = 0);-ms-filter: "alpha(opacity=0)";
    margin: 0;
    padding:0;
    left:0;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}
.custom-input-file:hover .uploadPhoto { display: block; }
.social-comments-section {
    padding: 0px 0px 0px 10px;
}
.social-comments-form {
    padding: 10px;
}
.media-left, .media > .pull-left {
    padding-right: 5px;
}
.media {
    margin: 0px;
}
.body {
    margin-top: 50px;
}
