<template name="my_home_item">
    <div class='col-sm-4'>
        <div class="panel panel-default">
            <div class="g-hover-card">
                <img src="{{ image }}" alt="">
                <div class="user-avatar">
                    <img src="{{getUsrImageURL " currentUser.profie_pic" "s" }}" alt="">
                </div>
                <div class="info">
                    <span class="glyphicon glyphicon-usd listing-price" aria-hidden="true">{{ price }}</span>
                    <div class="title">
                        <a href="#">{{address}}</a>
                    </div>
                    <div class="description">{{description}}</div>
                </div>
                <div class="bottom">
                    <a href="#" class="house-follow-btn btn btn-info btn-block">
                        Follow
                    </a>
                </div>
            </div>
        </div>
        <!--<input class="home-id" type="hidden" value="{{ listing_id }}">-->
        <!--<input class="home-photo" type="hidden" value="{{ getImageURL photo.href "m" }}">-->
        <!--<input class="home-description" type="hidden" value="{{description}}">-->
        <!--<input class="home-address" type="hidden" value="{{address.line}}, {{address.city}}, {{address.state}}">-->
        <!--<input class="home-price" type="hidden" value="{{ price }}">-->
    </div>
</template>
